@font-face {
  font-family: "exchange";
  src: url("./exchange.ttf?d35moh") format("truetype"),
    url("./exchange.woff?d35moh") format("woff"),
    url("./exchange.svg?d35moh#exchange") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="exchange-"],
[class*=" exchange-"] {
  /* use !important to prevent issues with browser extensions that change font */
  font-family: "exchange" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.exchange-home:before {
  content: "\e900";
}
.exchange-coin-pound:before {
  content: "\e93d";
}
.exchange-info:before {
  content: "\ea0c";
}
